<div class="container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <!-- 5 -> "[ngModel]="userModel.name"" -> if we use this method then the data will flow from 
        class to the template only but we need data to flow from class to template and vice 
        versa so we are going to use two way binding -->
      <input
        type="text"
        class="form-control"
        name="userName"
        [(ngModel)]="userModel.name"
      />
    </div>

    <!-- 4 -> this will display the value of the field which is given as input in the input field 
      using the property defined in the class with the help of data binding -->
    {{ userModel | json }}

    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        name="userEmail"
        [(ngModel)]="userModel.email"
      />
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input
        type="tel"
        class="form-control"
        name="userPhone"
        [(ngModel)]="userModel.phone"
      />
    </div>

    <div class="form-group">
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
        <option value="">I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="timepreference"
          value="morning"
          [(ngModel)]="userModel.timePreference"
        />
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="timepreference"
          value="evening"
          [(ngModel)]="userModel.email"
        />
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        name="Subscribe"
        [(ngModel)]="userModel.subscribe"
      />
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div>
