<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        [class.is-invalid]="userName?.invalid && userName?.touched"
      />

      <div *ngIf="userName?.invalid && userName?.touched">
        <small class="text-danger" *ngIf="userName?.errors?.required"
          >Username is required
        </small>
        <small class="text-danger" *ngIf="userName?.errors?.minlength"
          >Username has to be minimum 5 characters length
        </small>
        <small class="text-danger" *ngIf="userName?.errors?.forbiddenName"
          >{{ userName?.errors?.forbiddenName.value }} is not allowed
        </small>
        <small class="text-danger" *ngIf="userName?.errors?.customForbiddenName"
          >{{ userName?.errors?.customForbiddenName.value }} is not allowed
        </small>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        [class.is-invalid]="registrationForm.errors?.misMatch"
        formControlName="password"
      />
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        [class.is-invalid]="registrationForm.errors?.misMatch"
      />
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">
        Passwords do not match
      </small>
    </div>

    <div formGroupName="address">
      <label>City</label>
      <input type="text" class="form-control" formControlName="city" />

      <label>State</label>
      <input type="text" class="form-control" formControlName="state" />

      <label>Postal Code</label>
      <input type="text" class="form-control" formControlName="postalCode" />
    </div>

    <div class="formGroup">
      <label>Email</label>
      <button
        class="btn btn-secondary btn-sm m-2"
        (click)="addAlternateEmail()"
        type="button"
      >
        Add Email
      </button>
      <input type="text" formControlName="email" class="form-control" />
      <small
        class="text-danger"
        [class.d-none]="email?.valid || email?.untouched"
        >Email is required</small
      >

      <div
        formArrayName="alternateEmails"
        *ngFor="let email of alternateEmails.controls; let i = index"
      >
        <input type="text" class="form-control my-1" [formControlName]="i" />
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="subscribe"
      />
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
  </form>
</div>
